### 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용 
- 표현 방법 : 리스트명 = [요소1, 요소2, ...]

In [5]:
# 리스트 선언
var01 = []
var02 = [1,2,3]
var03 = ['I', 'have', 'a', 'dream']
var04 = [1, 2, 'Dream', 'True']
var05 = [1, 2, ['Dream', 'True']]

print(var05)

[1, 2, ['Dream', 'True']]

### 리스트의 indexing과 slicing

In [12]:
var03[1]
var03[1:][2]
var03[3]

'dream'

In [15]:
var05[2][0]

'Dream'

In [18]:
# Ex
# False만 출력하기

var05 = [1, 2, ['Dream', ['True', 'False']]]
var05[2][1][1]

'False'

In [20]:
var02[0] + var02[1]

3

In [23]:
var05[-1][0]

'Dream'

### 리스트의 연산자

In [24]:
# 리스트의 숫자 List를 합쳐서 한 리스트 만들기 
var01 = [1,2,3]
var02 = [4,5,6]
var03 = var01 + var02

[1, 2, 3, 4, 5, 6]

#### 리스트의 덧셈

In [28]:
print(var01[0] + var02[0])
print(var01[1] + var02[1])
print(var01[2] + var02[2])

5
7
9

In [35]:
# 리스트의 덧셈
for i in range(len(var01)):
  print(var01[i] + var02[i])

5
7
9

In [38]:
# 리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
print("=" * 20)

====================

In [39]:
# Ex : var01에 10을 곱하여 -> 10, 20, 30으로 출력하기
for i in range(len(var01)):
  print(var01[i] * 10)

10
20
30

In [41]:
for i in var01:
  print(i * 10)

10
20
30

In [42]:
# 리스트의 문자 합치기
var01 = ['a','b','c']
var02 = ['d','e','f']
var01 + var02

['a', 'b', 'c', 'd', 'e', 'f']

In [43]:
var01 * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [44]:
var01 = [1,2,3]
var02 = ['a','b','c']

var01 + var02

[1, 2, 3, 'a', 'b', 'c']

In [49]:
var01 = [1,2,3]

str(var01[0]) + 'hi'

'1hi'

In [51]:
# 리스트에 요소 존재 여부

list01 = [1,2,3,4,5]
print(3 in list01)
print(7 in list01)

True
False

---
### 리스트의 수정과 삭제

In [59]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [60]:
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [61]:
# Ex: var에서 'a', 'b' 를 삭제하기 
# [1, 'c', 4]
var

[1, 'a', 'b', 'c', 4]

In [63]:
var[1:3] = []
var

[1, 'c', 4]

In [64]:
del var[1]
var

[1, 4]

In [81]:
# Ex : varEx에 [100, 200, 300, 400, 500, 600, 700] 넣기
varEx = list(range(100, 701, 100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [82]:
# varEx에서 data가 200인 것 삭제하기
del varEx[1]
print(varEx)

[100, 300, 400, 500, 600, 700]

In [83]:
# varEx에서 data가 300, 400, 500인것 삭제하기
del varEx[1:4]
print(varEx)

[100, 600, 700]

In [84]:
# 원래 상태로 복원하기
varEx[1:2] = list(range(200, 601, 100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [86]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [89]:
# 리스트의 정렬
var = [1,4,3,2]

# 오름 차순 정렬
var.sort()

# 내림 차순 정렬
var.reverse()

print(var)

[4, 3, 2, 1]

In [92]:
var = ['a', 'c', 'b']

var.sort()

var.reverse()

print(var)

['c', 'b', 'a']

In [93]:
var = ['대', '한', '민', '국']

var.sort()
var.reverse()

print(var)

['한', '민', '대', '국']

In [94]:
# 리스트의 위치 정보
var.index('대')

2

In [96]:
# 리스트의 요소 삽입 
var = [1,2,3]
var.append(4)
var.insert(0, 0) #(index번지, data)

print(var)

[0, 1, 2, 3, 4]

In [101]:
# 리스트에 요소 제거
var = [1,2,3,4,5,6]
# del var[3]
# del var[var.index(4)]
var.remove(4)
var

[1, 2, 3, 5, 6]

In [103]:
# 리스트 요소 끄집어 내기 
var = [1,2,3]
print(var.pop())
print(var)

3
[1, 2]

In [105]:
# for
var = [1,2,3]
for i in range(len(var)):
  print(var.pop())

print(var)

3
2
1
[]

In [106]:
# 원하는 위치 pop 하기
var = [1,2,3]
print(var.pop(1))
print(var)

2
[1, 3]

In [107]:
# 리스트의 확장
var01 = [1,2,3,4]
var02 = [5,6]

var = var01 + var02
var

[1, 2, 3, 4, 5, 6]

In [108]:
# 리스트의 확장
var01 = [1,2,3,4]
var02 = [5,6]

var01.extend(var02)
var01

[1, 2, 3, 4, 5, 6]

In [112]:
# Ex : var에 1부터 100까지의 list를 생성하기
var = list(range(1, 101))

# 다른 변수를 사용하지 않고 var에 101부터 200까지의 데이터 확장하기
var.extend(list(range(101, 201)))
print(var)
print(len(var))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]
200

In [115]:
sum(var)

20100

In [116]:
# Ex: list01의 데이터를 발췌하여 
# Hello World! My name is Alice and I'm 30 years old. <- 생성하기 
list01 = [1, 3.14, 'Hello World!', True, [170, 50, 30], ['Alice', 'Cathy']]
list01

[1, 3.14, 'Hello World!', True, [170, 50, 30], ['Alice', 'Cathy']]

In [122]:
# Hello World! My name is Alice and I'm 30 years old.

f"{list01[2]} My name is {list01[-1][0]} and I'm {list01[-2][-1]} years old."

"Hello World! My name is Alice and I'm 30 years old."

---
### 리스트의 복사

### 1. Call by Reference

In [123]:
var01 = [1,2,3,4]
var02 = var01

In [124]:
var02[0] = 10
print(var01)
print(var02)

[10, 2, 3, 4]
[10, 2, 3, 4]

### 2. Call by Value

In [125]:
var01 = [1,2,3,4]
var02 = var01.copy()

In [126]:
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]