### 자료형의 참과 거짓
- 문자열인 경우 ""안에 data가 없으면 False, data가 있으면 True 
- 리스트인 경우 [] -> 
- 튜플인 경우 () -> 
- 딕셔너리인 경우 {} -> 
- 숫자인 경우 0이면 False, 0이 아닌 숫자는 True

In [1]:
# 리스트형에서 자료 출력하면서 자료 지우기
var = [1,2,3,4]

while var:
  print(var.pop())

4
3
2
1

In [2]:
var

[]

In [3]:
# 튜플을 이용한 변수 생성
var01, var02 = 1, 2
print(var01)
print(var02)

1
2

In [4]:
var01, var02 = 1, 'Lee'
print(var01)
print(var02)

1
Lee

In [5]:
var01 = var02 = 'Lee'
print(var01, var02)

Lee Lee

In [6]:
# 변수 값 교환 

var01 = 3
var02 = 5

temp = var01
var01 = var02
var02 = temp

print(var01, var02)

5 3

In [9]:
var01 = 3
var02 = 5

var01, var02 = var02, var01
print(var01, var02)

5 3

In [10]:
var01 = [1,2,3]
var02 = var01.copy()

In [11]:
var01 = [1,2,3]
var02 = var01[:]
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [12]:
# Module을 이용한 리스트 복사
from copy import copy

var01 = [1,2,3]
var02 = copy(var01)
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [15]:
# 문자열을 정수로 변환하기

str_num = '123'
int_num = int(str_num)
print(type(int_num))

<class 'int'>

In [16]:
# 문자열을 실수로 변환하기
str_num = '123.456'
float_num = float(str_num)
type(float_num)

float

In [17]:
# 정수를 문자로 변환하기
int_num = 123
str_num = str(int_num)
type(str_num)

str

In [18]:
# 실수를 문자로 변환하기
float_num = 123.456
str_num = str(float_num)
type(str_num)

str

In [19]:
# 실수를 정수로 변환하기
float_num = 123.567
int_num = int(float_num)
print(int_num)

123