---
총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고    
그렇지 않으면 불합격이다.    
합격 , 불합격 결과 보여주기

In [1]:
scores = [90, 25, 67, 45, 80]

In [7]:
# Case 1 : index번호로 반복문 

for number in range(len(scores)):
  result = "" # 합격 불합격 결과
  
  if scores[number] < 60:
    result = "불합격"
  else:
    result = "합격"
  
  print(f"{number+1}번의 학생은 {result} 입니다.")

1번의 학생은 합격 입니다.
2번의 학생은 불합격 입니다.
3번의 학생은 합격 입니다.
4번의 학생은 불합격 입니다.
5번의 학생은 합격 입니다.

In [10]:
# Case 2 : Data로 반복문 

number = 0
for score in scores:
  result = "" # 합격 불합격 결과
  
  if score < 60:
    result = "불합격"
  else:
    result = "합격"
  
  number +=1
  print(f"{number}번의 학생은 {result} 입니다.")

1번의 학생은 합격 입니다.
2번의 학생은 불합격 입니다.
3번의 학생은 합격 입니다.
4번의 학생은 불합격 입니다.
5번의 학생은 합격 입니다.

In [11]:
# Case 2 : Data로 반복문 

number = 0
for score in scores:
  result = "" # 합격 불합격 결과
  
  if score < 60:
    result = "불합격"
  else:
    result = "합격"
  
  number +=1

  if score < 60:
    print(f"{number}번의 학생은 점수가 {score} 이어서 {result} 입니다.")
  else:
    print(f"{number}번의 학생은 점수가 {score} 이므로 {result} 입니다.")

1번의 학생은 점수가 90 이므로 합격 입니다.
2번의 학생은 점수가 25 이어서 불합격 입니다.
3번의 학생은 점수가 67 이므로 합격 입니다.
4번의 학생은 점수가 45 이어서 불합격 입니다.
5번의 학생은 점수가 80 이므로 합격 입니다.

In [21]:
# Case 2 : Data로 반복문 

number = 1
for score in scores:
  print(f"{number}의 학생은 점수가 {score} {'이므로' if score >= 60 else '이어서'} {'합격' if score >= 60 else '불합격'}")  
  number +=1

1의 학생은 점수가 90 이므로 합격
2의 학생은 점수가 25 이어서 불합격
3의 학생은 점수가 67 이므로 합격
4의 학생은 점수가 45 이어서 불합격
5의 학생은 점수가 80 이므로 합격

---

In [17]:
# 1 ~ 10의 수중 짝수 홀수 판단하기
for i in range(1,11):
  if i % 2 == 0:
    print("짝수")
  else:
    print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

In [19]:
# 1 ~ 10의 수중 짝수 홀수 판단하기 : 삼항연산자 사용하기
for i in range(1,11):
  print(f"{'짝수' if i % 2 == 0 else '홀수'}")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

---

학생들 점수의 평균을 구하여 평균점수 보다 낮으면 불합격   
평균점수보다 같거나 높으면 합격

In [27]:
import numpy as np

number = 1
base = np.mean(scores)
print(f"학급의 평균 점수는 {base}입니다.\n")

for score in scores:
  print(f"{number}의 학생은 점수가 {score} {'이므로' if score >= base else '이어서'} {'합격' if score >= base else '불합격'}")  
  number +=1

학급의 평균 점수는 61.4입니다.

1의 학생은 점수가 90 이므로 합격
2의 학생은 점수가 25 이어서 불합격
3의 학생은 점수가 67 이므로 합격
4의 학생은 점수가 45 이어서 불합격
5의 학생은 점수가 80 이므로 합격

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고   
그렇지 않으면 불합격이다.  
합격인 학생만 출력하기

In [31]:
number = 0

for score in scores:
  number += 1
  if score < 60:
    continue
  print(f"{number}의 학생은 합격 입니다.")

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [35]:
# list01의 data를 5배 증가하여 새로운 List 만들기

list01 = [1,2,3,4]
new_list = []

for i in list01:
  new_list.append(i * 5)

new_list
np.mean(new_list)

12.5

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고   
그렇지 않으면 불합격이다.  
합격인 학생들의 번호만 새로운 List로 생성하여 출력하기

In [37]:
number = 0
pass_list = []

for score in scores:
  number += 1
  if score < 60:
    continue
  print(f"{number}의 학생은 합격 입니다.")
  pass_list.append(number)

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [38]:
pass_list

[1, 3, 5]

---
### 문장과 단어 추출

In [39]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [54]:
sents = [] # 문장 저장
words = [] # 단어 저장

In [44]:
# 연습 : 문단 -> 문장 
a = string.split(sep="\n")
a

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [48]:
# 연습 : 문장 -> 단어 
a[2].split()

['나이는', '35세', '입니다.']

---

In [55]:
# 문단 -> 문장
for sen in string.split(sep="\n"):
  sents.append(sen)
  # 문장 -> 단어
  for word in sen.split():
    words.append(word)

In [56]:
sents

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [57]:
words

['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [59]:
# 문장 수 
print("문장 수:", len(sents))
# 단어수
print("단어 수:", len(words))

문장 수: 3
단어 수: 9

---
### for else
: for반복문이 모두 실행되고 나면 else문이 실행된다.    
: for문이 break문으로 중간에 종료되지 않고 끝까지 실행되면 else문이 실행된다.

In [61]:
for i in range(1, 6):
  if i == 3:
    break
  print(i)
else:
  print("---")

1
2

In [62]:
for i in range(1, 6):
  if i == 10:
    break
  print(i)
else:
  print("10이 없습니다.")

1
2
3
4
5
10이 없습니다.

In [63]:
fruits = ['apple', 'banana', 'cherry', 'orange']

In [65]:
find_words = "orange1"

for fruit in fruits:
  if fruit == find_words:
    print(f"{find_words}를 찾았습니다.")
    break
else:
  print(f"{find_words}가 없습니다.")

orange1가 없습니다.

----
### 파이썬의 내포(Comprehension)

##### List

In [66]:
# 5배 증가된 list 만들기
list01 = [1,2,3,4]
# list02 = [] # list01를 5를 곱하여 만들 list 

list02 = [i*5 for i in list01]
list02

[5, 10, 15, 20]

In [67]:
# 위의 데이터에 데이터가 짝수인 경우에만 5를 곱하기
list03 = [i*5 for i in list01 if i % 2 == 0]
list03

[10, 20]

In [68]:
scores

[90, 25, 67, 45, 80]

In [71]:
# 합격한 학생들의 점수만가지고 리스트 만들기

number = 0
pass_list = [i for i in scores if i >= 60]
print(pass_list)

np.mean(pass_list)

[90, 67, 80]

79.0

In [72]:
# Ex : 구구단 결과만 리스트로 만들기 (2단 ~ 9단)
result = [dan * i for dan in range(2, 10) for i in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]