### 함수
함수의 필요성    
- 똑같은 내용을 반복하여 작성하는 경우 
- 프로그램 유지보수시 프로그램의 흐름을 한번에 확인 할 수 있다.

함수 구조 

def 함수명(매개변수, ...):
    문장 1
    문장 2
    return 결과값

함수명(인수, ...)

### numpy 내장함수

In [1]:
import numpy as np

In [2]:
# 평균 구하기
np.mean(range(1, 11))

5.5

In [3]:
# 합계 구하기
np.sum(range(1, 11))

55

In [4]:
# 표준편차 구하기
np.std(range(1, 11))

2.8722813232690143

In [5]:
# 최대값 구하기
np.max(range(1, 11))

10

In [6]:
# 최소값 구하기
np.min(range(1, 11))

1

In [9]:
# 중앙값 구하기
test = [1,1,1,1,1,1,40]

print(np.mean(test))
print(np.median(test))

6.571428571428571
1.0

In [51]:
# 누적합 
np.cumsum(range(1, 11))

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55])

In [11]:
# 누적곱
np.cumprod(range(1, 11))

array([      1,       2,       6,      24,     120,     720,    5040,
         40320,  362880, 3628800])

---
### 사용자 정의 함수
- 매개변수가 없는 함수

In [18]:
def hiF():
  return 'Hello!'

In [19]:
hiF()

'Hello!'

In [21]:
def test1():
  x=10
  y=20
  return x * y

In [22]:
test1()

200

In [23]:
test1()

200

---
### 매개변수가 있는 함수

In [24]:
def test2(num1, num2):
  return num1 * num2

In [28]:
def test3(num1, num2):
  print(num1 * num2)

In [34]:
a = test2(3, 4)
a

14

In [36]:
print(type(test3(3, 4)))
print(type(test2(3, 4)))

12
<class 'NoneType'>
<class 'int'>

In [26]:
test2(5, 9)

45

In [37]:
def sumManyF(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

In [38]:
sumManyF(1,2,3)

6

In [39]:
sumManyF(1,2,3,4,5)

15

#### 구구단 함수

In [40]:
def guguDan(dan):
  for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

In [41]:
guguDan(2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [42]:
guguDan(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [45]:
def guguDan2(dan1, dan2):
  for dan in range(dan1, dan2+1):
    print(f"------{dan}단 ------")
    for i in range(1, 10):
      print(f"{dan} X {i} = {dan*i}")

In [46]:
guguDan2(2, 5)

------2단 ------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------3단 ------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------4단 ------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------5단 ------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [47]:
guguDan2(2, 4)

------2단 ------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------3단 ------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------4단 ------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [48]:
def guguDan3(dan, start, end):
  for num in range(start, end+1):
    print(f"{dan} X {num} = {dan*num}")

In [49]:
guguDan3(2, 1, 3)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6

In [52]:
def sum_mulF(operand, *inputValue):
  if operand == 'sum':
    result = 0
    for i in inputValue:
      result += i
  elif operand == 'mul':
    result = 1
    for i in inputValue:
      result *= i
  else:
    result = "I don't know."
  return result

In [70]:
def sum_mulF(operand, *inputValue):
  if operand == 'sum':
    return np.cumsum(inputValue)[-1]
  elif operand == 'mul':
    return np.cumprod(inputValue)[-1]
  else:
    result = "I don't know."
  return result

In [71]:
result = sum_mulF('sum', 1, 2, 3, 4, 5)
print(result)

15

In [72]:
result = sum_mulF('mul', 1, 2, 3)
print(result)

6

In [73]:
result = sum_mulF('add', 1, 2, 3, 4, 5)
print(result) # I don't know

I don't know.

---

### return

In [80]:
def sum_mul(a, b):
  return (a + b, a * b)

In [82]:
sum, mul = sum_mul(3,4)
print(sum)
print(mul)

7
12

---
### 함수에 초기값 정하기

In [84]:
def say_myself(name, age, gender = True):
  print(f"나의 이름은 {name} 입니다.")
  print(f"나이는 {age}세 입니다.")
  if gender:
    print("남자 입니다.")
  else:
    print("여자 입니다.")

In [85]:
say_myself("유비", 30)

나의 이름은 유비 입니다.
나이는 30세 입니다.
남자 입니다.

In [86]:
say_myself("관우", 30, True)

나의 이름은 관우 입니다.
나이는 30세 입니다.
남자 입니다.

In [87]:
say_myself("초선", 20, False)

나의 이름은 초선 입니다.
나이는 20세 입니다.
여자 입니다.

In [89]:
# 원의 면적을 구하는 함수
# 공식 : pi * r ** 2

import math

def circle_area(radius):
  area = math.pi * (radius ** 2)
  return area

In [90]:
circle_area(5)

78.53981633974483

In [ ]:
# 원의 테두리 길이
# 공식 : 2 * pi * r

In [93]:
def circle_area_length(r):
  return math.pi * (r ** 2), 2 * math.pi * r

In [94]:
area, length = circle_area_length(5)
print('원의면적 :', area, " 원의 길이:", length)

원의면적 : 78.53981633974483  원의 길이: 31.41592653589793

----
### 람다(lambda) 함수 
- 보통 함수를 간결하게 만들때 사용한다. 
- return 명령어가 필요없다

In [95]:
def addFunction(num1, num2):
  return num1 + num2

In [96]:
addFunction(10, 20)

30

In [97]:
# 위의 함수를 람다함수로 변환
addLambda = lambda num1, num2 : num1 + num2
addLambda(10, 20)

30