### ---변수와 자료형 ---
#### 변수
계산에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억장소를 지정해 주는 역할     
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당     

#### 변수 이름의 작성 규칙
- 첫자는 영문으로 시작    
- 첫자를 제외하고 숫자, under bar, dot를 사용할수 있음.    
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋습니다.    
- 두 단어를 포함한 Camel기법(변수 이름을 지정할 경우 두번째 단어의 첫자는 대문자로 표시)으로 표시하거나 Snake기법(underbar로 표시)하는것이 가독성이 좋습니다.

In [1]:
appleFruit = 2 # Camel
apple_fruit = 3 # Snake

# 자료형
### 숫자 자료형

In [4]:
# 정수형
var01 = 123
var01 = -17
var01 = 0

var01

0

In [6]:
# 실수형
var02 = 1.2
var02 = -12.34

var02

-12.34

In [10]:
# 화면 출력
print("Apple")
print("Apple",  "Banana")
print("Apple " + "Banana")

Apple
Apple Banana
Apple Banana

In [18]:
# Ex01

var01 = 3
var02 = 4

# print(var01)
# print(var02)

print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈 몫 : ', var01 // var02)
print('정수 나눗셈 나머지 : ', var01 % var02)
print('제곱 : ', var01 ** 2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  9

In [20]:
# 거듭제곱
print('거듭제곱 :', var01**2)
print('거듭제곱 :', pow(var01, 2))

거듭제곱 : 9
거듭제곱 : 9

### 파이썬 모듈을 이용한 수학 계산

In [21]:
import math # 수학 계산 모듈

In [22]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [29]:
# 제곱근

math.sqrt(var01)

1.7320508075688772

In [31]:
# sin(45)**2 + cos(45)** 2

math.sin(45)**2 + math.cos(45)**2
math.pow(math.sin(45),2) + math.pow(math.cos(45), 2)

1.0

---
### 난수 발생

In [35]:
import random # 난수 발생 모듈 불러오기

In [45]:
random.randint(1, 100) # 1~100수중 난수 1개 발생

61

In [47]:
# 범위의 수 
var01 = [1,2,3,4,5,6,7,8,9,10]
var01

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# range(from, to+1, step)
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [53]:
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

In [55]:
# Ex : 2 ~ 50까지 짝수만 출력 
a = list(range(2, 51, 2))

In [58]:
# Ex : 100에서 50까지 짝수만 출력
list(range(100, 49, -2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50]

In [69]:
# Sampling

data = [1,2,3,4,5]
random.sample(data, 2)

[1, 4]

In [74]:
# 로또 번호 Sampling 하기 : 1~45 -> 6
random.sample(range(1, 46), 6)

[45, 22, 41, 38, 42, 19]

## 반올림

In [87]:
# 정수로 출력

print(round(2.5))
print(round(3.5))
print(round(4.5))
print(round(4.5, 0))

2
4
4
4.0

In [80]:
print(round(123.45, 1))
print(round(123.456, 2))

123.5
123.46

### 올림과 내림

In [83]:
# 올림
print(math.ceil(1.01))
print(math.ceil(1.9))

2
2

In [85]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

### 메모리에 있는 변수 보기

In [88]:
dir()

['In',
 'Out',
 '_',
 '_2',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_56',
 '_57',
 '_58',
 '_6',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'appleFruit',
 'apple_fruit',
 'data',
 'exit',
 'get_ipython',
 'math',
 'open',
 'quit',
 'random',
 'var01',
 'var02']

In [90]:
# 메모리에 있는 변수 제거
del var01

In [92]:
var01

NameError: name 'var01' is not defined

---
### 관계 연산자

In [93]:
# 변수에 Data 할당
num1 = 100
num2 = 20

In [97]:
# 동등 비교
print(num1 == num2)
print(num1 != num2)

False
True

In [99]:
# 크기 비교
print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)

True
True
False
False

----
### 논리 연산자

In [105]:
print((num1 >= 50) and (num2 <= 10)) # T and T -> T
print((num1 >= 50) or (num2 <= 10)) # F or F -> F
# print((num1 >= 50) & (num2 <= 10)) # T and T -> T
# print((num1 >= 50) | (num2 <= 10)) # F or F -> F

False
True
False
True

In [109]:
# 부정 연산자
print(not(num1 >= 50))
# print(!(num1 >= 50))

False

---
### 문자열 자료형

In [110]:
var01 = 'Hello World!'
var01

'Hello World!'

In [112]:
# 여러줄의 문자열 출력
var01 = """
  Hello World!
  Good to meet you!
"""
print(var01)

  Hello World!
  Good to meet you!

In [117]:
# \n : new line, \t : tap
var01 = "Hello World!\nNice\t\t to meet you"
print(var01)

Hello World!
Nice		 to meet you

In [119]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you."'

print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [121]:
# 문자열 연산(덧셈)

var01 = "Python"
var02 = 'is fun.'

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [123]:
# 문자열 연산(곱셈)
var01 = "Python"
print(var01 * 4)

PythonPythonPythonPython

In [124]:
print("=" * 20)
print("Python")
print("=" * 20)

====================
Python
====================

In [138]:
print("=" * 20, "\n", "Python","\n", "=" * 20, sep="")

====================
Python
====================

In [144]:
print("11111", end="", sep=" ")
print("22222")

1111122222

In [143]:
print("11111", "22222", end="\n", sep="")

1111122222

---
### 문자열의 indexing과 slicing

In [153]:
str = "abcdefghijklmn"

print(str)
print(str[0])
print(str[1])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0] + str[2] + str[4])

# Ex : fghijkl
print(str[5:-2])

abcdefghijklmn
a
b
abc
n
fghijklmn
abcde
ace
fghijkl

In [154]:
# Ex 
str = "20241229Snow"
year = str[:4]
day = str[4:8]
weather = str[8:]

print(year, day, weather)
# 2024 1229 Snow

2024 1229 Snow

In [157]:
str = "abbde"
# str[2] = "c"
str = str[:2] + "c" + str[3:]
print(str)
# abcde

abcde

---
### 문자열 formatting
%s, %d, %f

In [161]:
# %d : 정수형 formatting

count = 2
# I have 2 apples. 
# print("I have", count, 'apples.')
# print("I have " + count  + " apples.")
print("I have %d apples."%count)

I have 2 apples.

In [162]:
# %s : 문자열 formatting 
count = "two"
print("I have %s apples."%count)

I have two apples.

In [163]:
# 혼합형 formatting
number = 2
fruit = 'apples'

print("I have %d %s."%(number, fruit))

I have 2 apples.

In [166]:
# 문자열 정렬
print("I have 2 %s."%"apples")
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2 apples.
I have 2     apples.
I have 2 apples    .

In [170]:
# 실수형 : %f
print("-" * 20)
print("%.4f"%3.14159)
print("%10.4f"%3.14159)

--------------------
3.1416
    3.1416