### Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

### Dictionary -> Series

In [1]:
import pandas as pd

In [2]:
# Dictionary 만들기
dict_data = {
  'a' : 1,
  'b' : 2,
  'c' : 3
}

dict_data

{'a': 1, 'b': 2, 'c': 3}

In [3]:
# Series로 변환
sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

#### List -> Series

In [4]:
list_data = [
  '2024-12-31',
  3.14,
  'abc',
  100,
  True
]

list_data

['2024-12-31', 3.14, 'abc', 100, True]

In [5]:
sr = pd.Series(list_data)
sr

0    2024-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

#### Tuple -> Series

In [6]:
tuple_data = (
  '유비',
  '2024-12-31',
  '남',
  False
)

tuple_data

('유비', '2024-12-31', '남', False)

In [8]:
sr = pd.Series(tuple_data, index=['이름', '생년월일', '성별', '학생여부'])
sr

이름              유비
생년월일    2024-12-31
성별               남
학생여부         False
dtype: object

#### Series에서 Data 선택하기

In [10]:
# 유비만 추출하기
sr['이름']

'유비'

In [12]:
sr[0]

C:\Users\KDT\AppData\Local\Temp\ipykernel_12984\3717362250.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[0]

'유비'

In [14]:
# 생년월일, 성별 
sr[['생년월일','성별']]

생년월일    2024-12-31
성별               남
dtype: object

In [16]:
sr[[1,2]]

C:\Users\KDT\AppData\Local\Temp\ipykernel_12984\3275404516.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[[1,2]]

생년월일    2024-12-31
성별               남
dtype: object

In [19]:
sr[1:3]

생년월일    2024-12-31
성별               남
dtype: object

In [21]:
# 이름, 생년월일, 성별 

sr['이름':'성별']

이름              유비
생년월일    2024-12-31
성별               남
dtype: object

In [23]:
sr[0:4]

이름              유비
생년월일    2024-12-31
성별               남
학생여부         False
dtype: object

### Series의 연산

In [24]:
student = pd.Series(
  {
    '국어' : 100,
    '영어' : 80,
    '수학' : 90
  }
)
student

국어    100
영어     80
수학     90
dtype: int64

In [26]:
# 모든 과목의 점수를 200으로 나누자
student / 200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [27]:
student1 = pd.Series(
  {
    '국어' : 100,
    '영어' : 80,
    '수학' : 90
  }
)
student1

국어    100
영어     80
수학     90
dtype: int64

In [28]:
student2 = pd.Series(
  {
    '수학' : 80,
    '국어' : 90,
    '영어' : 80
  }
)
student2

수학    80
국어    90
영어    80
dtype: int64

In [30]:
# 덧셈
addition = student1 + student2

> index에 맞추어져서 연산이 이루어 진다.

In [36]:
# 뺄셈
subtraction = student1 - student2

In [37]:
# 곱셈
multiplication = student1 * student2

In [38]:
# 나눗셈
division = student1 / student2

In [42]:
division

국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [44]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
  [
    addition, subtraction, multiplication, division
  ],
  index=['덧셈',"뺄셈","곱셈",'나눗셈']
)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

----
### NaN(Not a Number)값이 있는 연산

In [45]:
import numpy as np

In [46]:
student1 = pd.Series(
  {
    '국어' : np.nan,
    '영어' : 80,
    '수학' : 90
  }
)

student1

국어     NaN
영어    80.0
수학    90.0
dtype: float64

In [47]:
student2 = pd.Series(
  {
    '수학' : 80,
    '국어' : 90
  }
)

student2

수학    80
국어    90
dtype: int64

In [48]:
# 덧셈
addition = student1 + student2
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [49]:
addition = student1.add(student2)
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

> 덧셈에서 각 데이터 사에에 공통 인덱스가 없거나 NaN이 포함된 경우 연산결과는 NaN이다.

In [52]:
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2

In [53]:
addition = student1.add(student2)
subtraction = student1.sub(student2)
multiplication = student1.mul(student2)
division = student1.div(student2)

In [54]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
  [
    addition, subtraction, multiplication, division
  ],
  index=['덧셈',"뺄셈","곱셈",'나눗셈']
)

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [55]:
# NaN 대신 숫자 0으로 대체 

addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

In [56]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
  [
    addition, subtraction, multiplication, division
  ],
  index=['덧셈',"뺄셈","곱셈",'나눗셈']
)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

> inf(infinity:무한대) : 영어의 나눗셈인 경우 80을 0으로 나누어서 발생한다.